<div style="height: 100vh; color: white;" class="default-bg">

    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <p>
                    SurfCyan is here for all your branding and website needs. Got an idea? Leave it up to us. We got
                    your back when
                    it
                    comes to your digital footprint. Need advice on content, logo, tagline, social media or any of your
                    branding
                    needs,
                    we got it all!
                </p>

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

</div>