<div style="width: 100%; background-color: #012828; padding: 24px; color: white;">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Get In Touch</h1>
                <p>Chandigarh, India</p>
                <p>
                    <a href="mailto:surfcyan@outlook.com">
                        surfcyan@outlook.com
                    </a>
                </p>
            </div>
            <div class="col-md-6" style="display: flex; flex-direction: column;">
                <span style="flex: 1;"></span>
                <div style="display: flex;" id="social-icons">
                    <a href="https://www.instagram.com/surfcyan.co/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="linkedin.com/company/69971616">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/SurfCyan">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="mailto:surfcyan@outlook.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </div>
                <span style="flex: 1;"></span>
            </div>
        </div>
    </div>

</div>