<div class="parent-div">

    <span style="flex:1"></span>
    <div style="display: flex;">
        <span style="flex: 1;"></span>
        <div class="formBg">

            <p style="font-weight: bold; font-size: 22px;">Fill Your Details Below to Hear from our Team</p>
            <br>

            <form (ngSubmit)="submit()" [formGroup]="form">

                <div class="mb-3">
                    <label for="name" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Your Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Your Phone</label>
                    <input type="tel" class="form-control" id="phone" formControlName="phone">
                </div>

                <p style="text-align: center;" id="message">{{message}}</p>


                <button type="submit" class="btn" style="background-color: #00aac0;
                color: white;
                font-weight: bold;">Get In Touch</button>
            </form>
        </div>
        <span style="flex: 1;"></span>
    </div>
    <span style="flex:1"></span>

</div>