<div class="parent-div">

    <span style="flex:1"></span>
    <div style="display: flex;">
        <span style="flex: 1;"></span>
        <div class="formBg">

            <p>Fill Your Details Below to get call from our team</p>
            <br>

            <form (ngSubmit)="submit()" [formGroup]="form">

                <div class="mb-3">
                    <label for="name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email">
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control" id="phone">
                </div>

                <br>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <span style="flex: 1;"></span>
    </div>
    <span style="flex:1"></span>

</div>