@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: sans-serif;
}
.default-bg {
    background-color: #0092a4;
}
*{
    outline: none;
}
// h1,p{
//     margin: 0;
// }
