<div class="parent-element-to-video">
    <!-- [ngStyle]="{'font-size':getFontSize()}" -->
    <div class="right-text">
        <h1 id="rightText" [ngClass]="getFontClass()">
        </h1>
    </div>

    <div class="overlay-filter" style="transition: 1s;" id="bg" [ngStyle]="{'background-image':gradVar}">
        <!-- <div class="gradient"></div> -->
    </div>

    <video style="background-color: rgb(0, 0, 0);" poster="../../assets/homePageImage.jpg" id="vid" muted="muted"
        preload="auto" autoplay="true" src="../../assets/homePageVideo3.webm" muted="muted"></video>

</div>
<!-- section 2 -->
<app-section-two [bgColor]="bgColor"></app-section-two>
<!-- section 3 -->
<app-section-three [bgColor]="bgColor"></app-section-three>